img{
              border: 10px solid;
              border-color: black;
              margin-left: 285px;
}
h1
{
              text-align: center;
              color: aliceblue;
             
              
}
html{
              background-color: aqua;
}
p{
              text-align: center;
}